* {
    margin: 0px;
    padding: 0px;
}

.bold {
    font-weight: 1000;
}

.hello {
    color: rgb(204, 204, 204)
}
body {
   --nav-color: rgb(35, 47, 62);
   --header-color: rgb(34, 45, 60);

}

@media (min-width: 800px) {

    .main {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        'item1 item2 item3 item4'
        'item5 item6 item7 item8'
        ;
    }
    .main div {
        align-self: center;
        place-self: center
    }

}

body {
    background-image: url(../assets/series.jpg);
    background-size: cover;
}

/* .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--nav-color);
    color: white;

}

.nav a {
    text-decoration: none;
    color: white;
}

#america {
    width: 50px;
}

.nav-item {
    padding: 1em;
}

.nav-item:hover {
    border: 2px solid white;
}

#input {
    width: 30vw;
    height: 3vw;
}

.search select{
    height: 3vw;
}

.search select{
    height: 3vw;
}

.header {
    background-color: var(--header-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    column-gap: 30px;
    height: 60px;
}

#header-img {
    width: 200px;
}

a {
    text-decoration: none;
    color: white;
}

.address-h4 {
    font-weight: 100;
}

span {
    font-weight: 1000;
}

.main-info {
    border: 2px black solid;
    margin: 30px;
    background-color: white;
}
