body {
   --nav-color: rgb(35, 47, 62);
   --header-color: rgb(19, 25, 33);

}

.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'item1 item2 item3 item4'
    'item5 item6 item7 item8'
    ;

}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--nav-color);
    color: white;

}

.nav a {
    text-decoration: none;
    color: white;
}

.nav-item {
    padding: 1em;
}

.nav-item:hover {
    border: 2px solid white;
}